{#
 # Section
 # -------
 #}

{% set image = module.bannerImage.first() %}

{% if image %}

	<div class="section banner">
		<div class="banner_background"
			 style="background-image: url('{{ image.getUrl }}')"
			 data-image="{{ image.getUrl }}"></div>
		<div class="banner_content container -width-{{ module.sectionWidth }} +{{ module.sectionTextAlign }}-text-mobl +v-trim">
			{% if module.showTitle %}
				<h2>{{ module.title }}</h2>
			{% endif %}
			{% include '_components/body' with {'blocks': module.body} %}
		</div>
	</div>

{% else %}

	<div class="section">
		<div class="container -width-{{ module.sectionWidth }} +{{ module.sectionTextAlign }}-text-mobl +v-trim">
			{% if module.showTitle %}
				<h2>{{ module.title }}</h2>
			{% endif %}
			{% include '_components/body' with {'blocks': module.body} %}
		</div>
	</div>

{% endif %}
