{#
 # Body
 # ----
 #
 # Renders the body matrix field.
 #
 # @param (ElementCriteriaModel) blocks
 #}

{% import '_macros' as macros %}

{% for block in blocks %}
	{% switch block.type %}

		{% case 'text' %}

			{{ block.textContent | widont }}

		{% case 'image' %}

			{% set image = block.imageFile.first() %}

			<div class="+text-center +v-margin-md">
				{{ macros.image(image, '+responsive') }}
				{% if block.imageShowTitle %}
					<p class="+color-light">{{ image.title }}</p>
				{% endif %}
			</div>

		{% case 'button' %}

			{% set entry = block.buttonEntry.first() %}
			{% set url = entry.getUrl | default(block.buttonUrl) %}

			<p>
				<a class="{{ block.buttonStyle }}" href="{{ url }}"{{ block.buttonBlank ? ' target="_blank"' }}>
					{% if block.buttonIcon %}
						{% if block.buttonIconPosition == 'right' %}
							{{ block.buttonLabel }} <i class="{{ block.buttonIcon }}"></i>
						{% else %}
							<i class="{{ block.buttonIcon }}"></i> {{ block.buttonLabel }}
						{% endif %}
					{% else %}
						{{ block.buttonLabel }}
					{% endif %}
				</a>
			</p>

	{% endswitch %}
{% endfor %}
