{#
 # Body
 # ----
 #
 # Renders the body matrix field.
 #
 # @param (ElementCriteriaModel) blocks
 #}

{% import '_macros' as macros %}

{% for block in blocks %}
	{% switch block.type %}

		{% case 'text' %}

			{{ block.textContent | widont }}

		{% case 'button' %}

			{% set entry = block.buttonEntry.first() %}
			{% set url = entry.getUrl | default(block.buttonUrl) %}

			<p>
				<a class="button" href="{{ url }}"{{ block.buttonBlank ? ' target="_blank"' }}>
					{{ block.buttonLabel }}
				</a>
			</p>

		{% case 'image' %}

			{% set image = block.imageFile.first() %}

			<div class="+text-center +v-margin-md">
				{{ macros.image(image, '+responsive') }}
				{% if block.imageShowTitle %}
					<p class="+color-light">{{ image.title | widont }}</p>
				{% endif %}
			</div>

		{% case 'video' %}

		{% case 'quote' %}

			<blockquote>
				{{ block.quoteContent | widont }}
				{% if block.quoteUrl %}
					<cite>
						<a href="{{ url(block.quoteUrl) }}" target="_blank">
							{{ block.quoteReference | default('Source') }}
						</a>
					</cite>
				{% endif %}
			</blockquote>

		{% case 'code' %}

			<pre>{{ block.codeContent | raw }}</pre>

	{% endswitch %}
{% endfor %}
