{#
 # Menu
 # ----
 #
 # Renders a menu
 #
 # @param (ElementCriteriaModel) links
 # @param (String) tag [li]
 #}

{% if not tag %}
	{% set tag = 'li' %}
{% endif %}

{% for link in links %}
	{% switch link.type %}

		{% case 'pages' %}

			{% set isSelected = (entry is defined and entry.id == link.id) %}

			<{{ tag }}>
				<a{{ isSelected ? ' class="is-selected"' : '' }} href="{{ link.getUrl }}">
					{{ link.title }}
				</a>
			</{{ tag }}>

		{% case 'internalLink' %}

			{% set linkEntry = link.linkEntry.first() %}
			{% set isSelected = (entry is defined and entry.id == linkEntry.id) %}

			<{{ tag }}>
				<a{{ isSelected ? ' class="is-selected"' : '' }} href="{{ linkEntry.getUrl }}">
					{{ link.title }}
				</a>
			</{{ tag }}>

		{% case 'externalLink' %}

			<{{ tag }}>
				<a href="{{ url(link.linkUrl) }}" target="_blank">
					{{ link.title }}
				</a>
			</{{ tag }}>

	{% endswitch %}
{% endfor %}
